      </div>  
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script>
        $(document).ready(function() {
          $('select').material_select();
        });

      </script>
      <script type="text/javascript" src="js/ajax.js"></script>
    </body>
  </html>