    <div class="row">
    <form class="col s12" action="guardar.php" method="POST">
    
        <?php if(isset($eventos)): ?>
            <input name="id" id="id" type="hidden" value="<?=$eventos["id"];?>">
        <?php endif; ?>
        
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Nombre del Evento" name="titulo" id="titulo" type="text" class="validate" required value="<?php if(isset($eventos)) echo $eventos["titulo"] ?>">
          <label for="titulo">Titulo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Descripcion del Evento" name="descripcion" id="descripcion" type="text" class="validate" required value="<?php if(isset($eventos)) echo $eventos["descripcion"] ?>">
          <label for="descripcion">Descripción</label>
        </div>
      </div>
        <div class="input-field col s12">
          <input placeholder="Ubicacion del Evento" id="direccion" name="direccion" type="text" class="validate" required value="<?php if(isset($eventos)) echo $eventos["direccion"] ?>">
          <label for="direccion">Ubicación</label>
          <div id="ajaxResponse"></div>
        </div>
        <div class="input-field col s12">
          <input onkeypress="sendRequest()" placeholder="Fecha del Evento" id="fecha" name="fecha" type="text" class="validate" required value="<?php if(isset($eventos)) echo $eventos["fecha"] ?>">
          <label for="fecha">Fecha (aaaa-mm-dd)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($eventos)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
    </form>
  </div>
  