
<h4 class="green-text">Registrar Zombie</h4>
<div class="row">
  <form class="col s12" method="POST" action="GuardarZombieExamen.php">
  <div class="row">
    <div class="input-field col s6">
      <input name="nombre" type="text" class="validate">
      <label for="nombre">Nombre del Zombie</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input name="estado" type="text" class="validate">
      <label for="estado">Estado del Zombie</label>
    </div>
  </div>
  <button class="waves-effect waves-light btn" type="submit">Guardar</button>
  </form>
</div>
