  <div class="row">
    <form class="col s12" action="guardar.php" method="POST">
    
        <?php if(isset($registro)): ?>
            <input name="idEditar" id="idEvento" type="hidden" value="<?=$registro["idEvento"];?>">
        <?php else: ?>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="21348" name="idEvento" id="idEvento" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["idEvento"]?>">
          <label for="idEvento">Numero de Evento</label>
        </div>
      </div>
        <?php endif; ?>


      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Fiesta 2017" name="nombre" id="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nombre"]?>">
          <label for="nombre">Nombre de Evento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="San Cristóbal de Las Casas" id="lugar" name="lugar" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["lugar"] ?>">
          <label for="lugar">Lugar</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           <input placeholder="" id="fecha" name="fecha" type="date" class="validate" required value="<?php if(isset($registro)) echo $registro["fecha"] ?>">
           <label for="fecha">Fecha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="descripcion" id="descripcion" name="descripcion" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["descripcion"] ?>">
          <label for="descripcion">Descripcion</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
    </form>
  </div>
  